
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-header: 'Dela Gothic One', serif;
    --ff-text: 'Work Sans', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;

    --color-primary-dark: #000000;
    --color-primary-light: #F6F7F8;
    --color-secondary-dark: #7D53DE;
    --color-secondary-light: #FEEA00;

    --size-600: 3.875rem; /* 2.75rem for mobile */
    --size-400: 1.875rem;
    --size-200: 1.125rem;
    --line-spacing: 1.125;

}

/* utilty classes */

.heading, .sub-heading, .text {
    color: var(--color-primary-dark);
}


.heading {
    font-family: var(--ff-header);
    font-size: var(--size-600);
    font-weight: var(--fw-bold);

}

.sub-heading {
    font-family: var(--ff-header);
    font-size: var(--size-400);
    font-weight: var(--fw-bold);
}


.text {
    font-family: var(--ff-text);
    font-size: var(--size-400);
    font-weight: var(--fw-regular);
    margin-block: .5em;
}

.v-short {
    border-left: 4px solid var(--color-primary-dark);
    height: 6em;
}

.v-long {
    border-left: 4px solid var(--color-primary-dark);
    height: 16em;
}

body {
    font-optical-sizing: auto;
    font-style: normal;

    background: var(--color-secondary-dark);
    background-image: url('images/download.svg');
    background-size: contain;
}  

.container {
    max-width: 80%;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: var(--color-primary-light);
    text-align: center;
    padding: 80px 40px;

    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    border: 4px solid;
}

.sm-card {
    background: white;
    text-align: center;
    padding: 20px 60px;

    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    border: 4px solid;
}

ul {
    list-style: none;
    margin-top: .5em;
}
li {
    margin-block: .5em;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--color-primary-dark);
    cursor: pointer;
}

button:hover {
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark)
}

.hidden {
    display: none;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}


input[type="email"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--color-primary-dark);
    
    flex-grow: 1;
    width: 100%;
    max-width: 300px;
}

.form-group {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


/* @media (max-width: 675px) {
    .heading {
        font-size: var(--size-400);
    }

    .sub-heading, .text {
        font-size: var(--size-200);
    }

} */